body {
   
    background-color: #ffad42; /*Blue background */
}


body {
    font-family: Arial, sans-serif;
    color: #333333 /* Dark grey text */
}


h1, h2 {
    font-family: "Times New Roman", serif;
    color: #000000; /* Black text */
}


h1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
}


p {
    margin: 10px 0;
    padding: 5px;
}


#nameheading, #hobbiesandinterestheading, #listofhobbies {
    margin: 20px;
    border: 1px solid #f1f1f1;
    padding: 20px;
    background-color: hsl(202, 73%, 44%)

}


#nameheading {
    text-align: center;
}